@font-face {
  font-family: "Work Sans";
  src: url("@fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 400 600 700;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans Italic";
  src: url("@fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 400 600 700;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-work-sans text-3xl font-bold text-dark-purple;
  }

  span.accordion-title {
    @apply text-left font-work-sans font-bold text-inherit hover:text-hover-purple;
  }

  p {
    @apply h-auto overflow-hidden font-work-sans text-[16px] text-grayish-purple;
  }

  picture {
    width: 100%;
  }

  button {
    @apply text-dark-purple outline-hover-purple;
  }

  span {
    @apply pl-2;
  }

  div.accordion-text {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms ease-out;
  }

  div[aria-hidden="false"] {
    grid-template-rows: 1fr;
  }
}
